*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#061a33;
    color:white;
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:#071c36;
    position:fixed;
    width:100%;
    top:0;
    z-index:100;
}

.logo{
    font-size:22px;
    font-weight:bold;
    color:#4aa3ff;
}

nav a{
    margin:0 15px;
    text-decoration:none;
    color:white;
    font-weight:500;
}

nav a.active{
    border-bottom:2px solid #4aa3ff;
    padding-bottom:5px;
}

/* HERO */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:130px 60px 60px;
    background:linear-gradient(135deg,#0a3d62,#1e90ff);
}

.hero-left{
    max-width:50%;
}

.tag{
    background:#00c2a8;
    padding:6px 14px;
    border-radius:20px;
    font-size:14px;
}

.hero h1{
    font-size:52px;
    margin:20px 0;
}

.hero p{
    font-size:18px;
    opacity:0.9;
    margin-bottom:25px;
}

/* BUTTONS */
.buttons{
    display:flex;
    gap:15px;
}

.btn{
    padding:12px 18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.blue{
    background:#1e90ff;
    color:white;
}

.green{
    background:#00c26f;
    color:white;
}

/* IMAGE */
.hero-right img{
    width:380px;
    border-radius:20px;
}

/* FEATURES */
.features{
    padding:70px 60px;
    text-align:center;
}

.features h2{
    margin-bottom:30px;
}

.feature-box{
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.card{
    background:#0b2a52;
    padding:25px;
    border-radius:12px;
    flex:1;
}

.card p{
    opacity:0.8;
    margin-top:10px;
}
.image-card{
    padding:70px 60px;
    display:flex;
    justify-content:center;
}

.image-box{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:20px;
}

/* IMAGE CARD STYLE */
.image-box img{
    width:160px;              /* 👈 bigger size */
    height:140px;
    object-fit:cover;
    border-radius:12px;
    transition:0.3s ease;
    box-shadow:0 6px 15px rgba(0,0,0,0.3);
}

/* hover effect (premium feel) */
.image-box img:hover{
    transform:scale(1.1);
    box-shadow:0 10px 25px rgba(0,0,0,0.5);
}