body{
    font-family:Arial;
    background:#0a3d62;
    color:white;
}

header{
    background:#081f3a;
    padding:15px;
    display:flex;
    justify-content:space-between;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.cards{
    display:flex;
    gap:20px;
    justify-content:center;
}

.card{
    background:#ffffff20;
    padding:20px;
    border-radius:10px;
}

.join-btn{
    background:#00d2ff;
    padding:5px 10px;
}
.btn{
    display:inline-block;
    padding:10px 20px;
    background:#00b894;
    color:white;
    text-decoration:none;
    margin:10px;
    border-radius:5px;
}